.infoBox {
    position: absolute;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index: 999;
    display: none;
  }
  
  .hidden {
    display: none;
  }
  
  img {
    position: relative;
    display: inline-block;
  }
  
  img:hover + .infoBox {
    display: block;
  }
  